doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='css design.css')
  script(defer='', src='JS roomeet.js')
.container_my_profile
  .header
    p#site_name  Roomeet
    nav.nav_bar
      ul
        li
          a.nav_link(href='http://localhost:3000/meet_roomate') Meet a roomate
        li
          a.nav_link(href='http://localhost:3000/my_profile') My profile
        li
          a.nav_link(href='http://localhost:3000/home_page') Sign out
        li
          img(src='img/account-icon.png', alt='')
  .my_profile_page
    #my_profile_box
      h2#my_profile_text My Profile 
      ul
        li
          img.profile_pic(src='../img/account-icon.png', alt='')
          form#update_profile_form(action='', method='')
            label(for='Full_Name') Full Name
            br
            input#Full_Name(type='text', required='', name='Full_Name',value=loged_in_user[0].name)
            br
            label(for='email') Email
            br
            input#email(type='email', required='', name='email' ,value=loged_in_user[0].email)
            br
            ul
              li
                label(for='ocupation') Ocupation
                br
                select#ocupation(name='ocupation')
                  option(value='none', selected='', disabled='', hidden='') #{loged_in_user[0].ocupation}
                  option(value='student') student
                  option(value='soldier') soldier
                  option(value='working') working
                  option(value='other') other
                br
              li
                label(for='pets') Pets
                br
                select#pets(name='pets')
                  option(value='none', selected='', disabled='', hidden='') #{loged_in_user[0].pets}
                  option(value='pro') pro
                  option(value='againts') againts
                br
              li
                label(for='religion') Religious
                br
                select#religion(name='religion')
                  option(value='none', selected='', disabled='', hidden='') #{loged_in_user[0].religion}
                  option(value='yes') yes
                  option(value='no') no
                br
              li
                label(for='kitchen') Kitchen preference
                br
                select#kitchen(name='kitchen')
                  option(value='none', selected='', disabled='', hidden='') #{loged_in_user[0].kitchen}
                  option(value='vegan') vegan
                  option(value='vegeterian') vegeterian
                  option(value='kosher') kosher
                  option(value='nothing') nothing
                br
            label(for='phone') Phone
            br
            input#phone(type='text', required='', name='phone',value=loged_in_user[0].phone)
            br
            br
            input#submit(type='submit', value='update')
            br
        li
          label(for='comment') About me
          br
          textarea#comment(name='comment', cols='30', rows='5') #{value=loged_in_user[0].about}
          br
          br
        li#my_preference
          form#my_preference_form(action='', method='')
            h2 My preference
            br
            ul
              li
                label(for='ocupation') Ocupation
                br
                select#ocupation(name='ocupation')
                  option(value='student') student
                  option(value='soldier') soldier
                  option(value='working') working
                  option(value='other') other
                br
              li
                label(for='ocupation_rating') Rating
                br
                select#ocupation_rating(name='ocupation_rating')
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='4') 5
                br
            ul
              li
                label(for='pets') Pets
                br
                select#pets(name='pets')
                  option(value='pro') pro
                  option(value='againts') againts
                br
              li
                label(for='pets_rating') Rating
                br
                select#pets_rating(name='pets_rating')
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='4') 5
                br
            ul
              li
                label(for='religion') Religious
                br
                select#religion(name='religion')
                  option(value='yes') yes
                  option(value='no') no
                br
              li
                label(for='religion_rating') Rating
                br
                select#religion_rating(name='religion_rating')
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='4') 5
                br
            ul
              li
                label(for='kitchen') Kitchen preference
                br
                select#kitchen(name='kitchen')
                  option(value='vegan') vegan
                  option(value='vegeterian') vegeterian
                  option(value='kosher') kosher
                  option(value='nothing') nothing
                br
              li
                label(for='kitchen_rating') Rating
                br
                select#kitchen_rating(name='kitchen_rating')
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='4') 5
                br
                br
            input#submit(type='submit', value='update')
            br
